/*Global*/

body {
      background: #7FFFD4;
  }

img { 
      width : 75%; 
  }

  h1 {
    color: #706B62; 
    font-size: 70px;
}

h2 {
    color: deeppink;
    font-size: 20px;
}

.contact{
    background: none;
    color: 	#DC143C;
}

#golf {
    height: 350px;
    width: 300px;
}


/*Layout*/





/*Typography*/

#index {
    color: darksalmon;
    
}

h1, h2, nav, li, p, div {
    font-family: 'Lobster', cursive;
}



/*Navigation*/

nav {
text-align: center;
}

nav ul {
display: inline-block;
list-style: none;
}

 html nav ul { 
display: inline;
}

nav li {
display: inline;   
}

nav a {
float: left;
text-decoration: none; 
padding: 0 30px; 
color: #AB4d00;
font-size: 30px;
}
