/*Global*/
body {
      background: aquamarine;
  }
img { 
      width : 50%; 
  }
/*Layout*/




/*Typography*/




/*Navigation*/

a{
color:black;
    display: block;
    height: 50px;
    width: 100px;
}
li{
    background: blueviolet;
    display: inline-block;
}